{% include "headers.html" %}
{% include 'menu.html' %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block headers %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>404 NOT FOUND!</title>
</head>
<body>
    {% block menu %}
    {% endblock %}
    <h1><div class="alert alert-danger" role="alert">Ошибка 500!Что-то пошло не так!</div></h1>
    <div  class="alert alert-dark" role="alert">Вы не должны были это увидеть!</div>
    <div class="container"><p>
    ░░░░░░░░░░░░░░░░░░▄▄▄░░░░░░░░░░░░░<br>
    ░░░░░░░▄▄░░░░░░░░▄███░░░░░░░░░░░░░<br>
    ░░░░░░░███░░░░░░█▀░░░░░░░░░░░░░░░░<br>
    ░░░░░░░░░░█▄░░▄█░░░░░░░░░░░░░░░░░░<br>
    ░░░░░████████████████████████░░░░░<br>
    ░░░░░████████████████████████░░░░░<br>
    ░░░░░███████████████▀▀▀██████░░░░░<br>
    ░░░░░█████████████▀░░░░░░▀███░░░░░<br>
    ░░░░░████▀▀██████░░░▄▄▄▄░░░██░░░░░<br>
    ░▄██░██▀░░▄▄░████░░░████▄░░██░██▄░<br>
    ████░██░░███░████▄░░▀██▀░░███░████<br>
    ▀███░███▄▄▄▄███████▄░░░░▄████░███▀<br>
    ░▀▀▀░████████████████████████░▀▀▀░<br>
    ░░░░░████████████████████████░░░░░<br>
    ░░░░░█████░░▄▄░░▄▄░░▄▄░██████░░░░░<br>
    ░░░░░█████░░██░░██░░██░██████░░░░░<br>
    ░░░░░█████░░▀▀░░▀▀░░▀▀░██████░░░░░<br>
    ░░░░░████████████████████████░░░░░<br>
    ░░░░░░▀████████████████████▀░░░░░░</p>
    </div>
</body>
</html>