{% include 'headers.html' %}
{% include 'menu.html' %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block headers %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
<div class="alert alert-danger" role="alert">
    <p>Вся информация, опубликованная на сайте, является общедоступной и предназначена исключительно для ознакомительных целей. Размещение материала на нашем интернет-портале осуществляется посетителями сайта. После заполнения соответствующей формы, материал может быть автоматически отредактирован, либо дополнен информацией из открытых источников в Интернете. Видеоматериал также добавляется пользователями, путем указания прямой ссылки на торрент-файл. Данный вид контента может быть автоматически модифицирован с помощью программ для конвертации видео. Исходя из вышеуказанной информации, руководство портала не несет ответственности за соблюдение авторских прав на информацию, размещенную на сайте.</p>
    Если Вы, будучи правообладателем определенного контента, обнаружили, что сайт нарушает Ваши права, просим в кротчайшие сроки обратиться по электронному адресу <a href="mailto:{YOUR_MAIL}">почта</a> .
    </p>
</div>
</body>
</html>